########################################################################
# /var/lib/tftpboot/pxe/amd64/grub/grub.cfg
########################################################################
# Details at: https://www.gnu.org/software/grub/manual/grub/grub.html

# time in seconds to wait for keyboard input before booting the default menu entry
# 0  :  means to boot the default entry immediately without displaying the menu
# -1 :  -1 or unset means to wait indefinitely
set timeout=1

# clear the screen
clear

# which boot entry count (0=first 1=second ...) to load by default
set default=0 # count starts from 0!

# colors, background and graphics mode
#  next line is needed to allow the usage of a wallpaper
terminal_output gfxterm # make only 'gfxterm' active. gfxterm is always unicode
set gfxmode=auto # 'auto' selects a default that should look reasonable
set gfxpayload=auto # graphics mode in which the linux kernel starts up
set color_normal='black/black' # foreground/background terminal colors
background_color "#0069aaff" # background color for activte terminal
background_image --mode=stretch /00_grubsplash.png # background image from file

########################################################################
# Variables
########################################################################
# web server ip and port
# set this to the IP address of your PXE network interface
uhttpd="192.168.124.1:80"
export uhttpd
# variable for the cloud-init-url cloudinit0000
cloudinit0000=http://${uhttpd}/amd64-web/tuxfiles/0000-cloud-init/00_cloud-init.yaml
export cloudinit0000

# define superusers variable containing superusers
# to be able to protect edit of menu entries
# by default boot entries are not protected but you
# can add a '--users "<username>" option to a menuentry line e.g.
# menuentry "0 PROTECTED" --users "root" {
#  ....
# }
superusers="root"
export superusers
# root: root/LINUX
password_pbkdf2 root grub.pbkdf2.sha512.10000.0DBD805A99.567452D285698FA4ED9FBF250E43E7BA7075B4C263026E583E1F5EB134F1AA2F9D206021D2481C770FD09D96802C1F3F4D778E052B93D58BC4C1763B8D1E685E
# eraser: eraser/ERASE
password_pbkdf2 eraser grub.pbkdf2.sha512.10000.1543538F9B.0CF46B6BD3D2F6BFB4EF304DD41171A1D8D07E033E335562C220DA0570496C43387EFB8DC2837570387231DADDC715EC93B75320D3815DE8425FCF5A5B3CF8D0

# clear the screen
clear

# menuentry 0
# - german keyboard layout
# - URL                      : $cloudinit0000
menuentry "0 P.E.T.E.R. via Ubuntu Live (german keyboard)" --unrestricted {
        echo '  __________ ___________________________________________    '
        echo '  \______   \\_   _____/\__    ___/\_   _____/\______   \   '
        echo '   |     ___/ |    __)_   |    |    |    __)_  |       _/   '
        echo '   |    |     |        \  |    |    |        \ |    |   \   '
        echo '   |____|    /_______  /  |____|   /_______  / |____|_  /   '
        echo '                     \/                    \/         \/    '
        echo '------------------------------------------------------------'
        echo 'Professional Environment for Technically Efficient Reimaging'
        echo '------------------------------------------------------------'
        echo ''
        echo "HTTP loading Linux kernel to RAM"
        # For releases newer than Ubuntu 22.10 you can specify the URL with iso-url= instead of url=
        # which can avoid multiple downloads of the ISO (as cloud-init looks for url= on the kernel
        # command line as well). apm=off disables power management and hopefully keeps network always up
        linux   (http,${uhttpd})/amd64-web/linux quiet loglevel=3 splash debian-installer/language=de console-setup/layoutcode?=de systemd.show_status=auto rd.udev.log_level=3 iso-url=http://${uhttpd}/amd64-web/tuxfiles/ubuntu.iso ip=dhcp ds=nocloud cloud-config-url=$cloudinit0000
        initrd  (http,${uhttpd})/amd64-web/initrd
        echo "starting linux kernel and boot Ubuntu Server Live ISO"
}

# menuentry 1 - URL: $cloudinit0000
# - german keyboard layout
# - URL                      : $cloudinit0000
# - variables.config override: #TROUBLESHOOTING=1
menuentry "0 P.E.T.E.R. via Ubuntu Live (german keyboard) NO AUTOREBOOT" --unrestricted {
        echo '  __________ ___________________________________________    '
        echo '  \______   \\_   _____/\__    ___/\_   _____/\______   \   '
        echo '   |     ___/ |    __)_   |    |    |    __)_  |       _/   '
        echo '   |    |     |        \  |    |    |        \ |    |   \   '
        echo '   |____|    /_______  /  |____|   /_______  / |____|_  /   '
        echo '                     \/                    \/         \/    '
        echo '------------------------------------------------------------'
        echo 'Professional Environment for Technically Efficient Reimaging'
        echo '------------------------------------------------------------'
        echo ''
        echo "HTTP loading Linux kernel to RAM"
        # For releases newer than Ubuntu 22.10 you can specify the URL with iso-url= instead of url=
        # which can avoid multiple downloads of the ISO (as cloud-init looks for url= on the kernel
        # command line as well). apm=off disables power management and hopefully keeps network always up
        linux   (http,${uhttpd})/amd64-web/linux quiet loglevel=3 splash debian-installer/language=de console-setup/layoutcode?=de systemd.show_status=auto rd.udev.log_level=3 iso-url=http://${uhttpd}/amd64-web/tuxfiles/ubuntu.iso ip=dhcp ds=nocloud cloud-config-url=$cloudinit0000 --- \ADDITIONAL='#TROUBLESHOOTING=1'
        initrd  (http,${uhttpd})/amd64-web/initrd
        echo "starting linux kernel and boot Ubuntu Server Live ISO"
}

# Boot into UEFI/BIOS Firmware settings
menuentry "2 Open UEFI/BIOS Firmware settings (if supported)" --unrestricted {
        set gfxpayload=keep
        clear
        echo "Trying to reboot into firmware setup menu. Please wait..."
        fwsetup
}

############################################################################
#### DO NOT CHANGE ANYTHING BELOW HERE #####################################
############################################################################
#### END OF THIS FILE ######################################################
############################################################################
